body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 10px;
}

.full-width {
    width: 100%;
    max-width: none;
}

.clear-both {
    clear: both;
}

span.label {
    padding: 4px;
    margin-right: 4px;
}

button.vote {
    margin-left: 4px;
}

div.btn-group {
    margin-bottom: 8px;
}

small.info {
    display: inline-block;
    float: right;
}