<div>
    <h2>Roundtu.it Todo App feature requests.</h2>
    <div class="row">
        <div class="col-md-12">
            <p>This is the place to add feature request fro the roundtu.it app.</p>
            <p>You can create new feature request as well as vote and add your own opiniion.</p>
        </div>
    </div>

    <h3>Feature requests</h3>

    <div class="btn-group pull-right">
        <button type="button" class="btn btn-primary disabled">Date created</button>
        <button type="button" class="btn btn-primary">Most commented</button>
        <button type="button" class="btn btn-primary">Most votes</button>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Feature name
                </th>
                <th>
                    Description
                </th>
                <th>
                    &nbsp;
                </th>
                <th style="width: 250px">
                    Voting
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Add SMS text notifications</td>
                <td>
                    Can you add SMS alerting for when I'm away from the office.
                    <div><small class="info">Guest user 19/07/2014</small></div>
                </td>
                <td>
                    <button type="button" class="vote btn btn-primary btn-xs pull-right">Comments <span class="badge">0</span></button>
                </td>
                <td>
                    <!--default primary success info warning danger-->
                    <span class="label label-default"><span class="badge">0</span> votes</span>
                    <button type="button" class="vote btn btn-success btn-xs pull-right">Upvote <span class="glyphicon glyphicon-thumbs-up"></span></button>
                    <button type="button" class="vote btn btn-warning btn-xs pull-right">Downvote <span class="glyphicon glyphicon-thumbs-down"></span></button>
                </td>
            </tr>
            <tr>
                <td>Sync multiple calendars</td>
                <td>
                    I would like the ability to sync my todos across multiple calendars on my iPhone and my work outlook calendar.
                    <div><small class="info">Guest user 19/07/2014</small></div>
                </td>
                <td>
                    <button type="button" class="vote btn btn-primary btn-xs pull-right">Comments <span class="badge">2</span></button>
                </td>
                <td>
                    <span class="label label-danger"><span class="badge">-1</span> votes</span>
                    <button type="button" class="vote btn btn-success btn-xs pull-right">Upvote <span class="glyphicon glyphicon-thumbs-up"></span></button>
                    <button type="button" class="vote btn btn-warning btn-xs pull-right">Downvote <span class="glyphicon glyphicon-thumbs-down"></span></button>
                </td>
            </tr>
            <tr>
                <td>Export appointments to iCal</td>
                <td>
                    I would like the ability to click on the appointment and download the iCal file.
                    <div><small class="info">Guest user 19/07/2014</small></div>
                </td>
                <td>
                    <button type="button" class="vote btn btn-primary btn-xs pull-right">Comments <span class="badge">4</span></button>
                </td>
                <td>
                    <span class="label label-success"><span class="badge">3</span> votes</span>
                    <button type="button" class="vote btn btn-success btn-xs pull-right">Upvote <span class="glyphicon glyphicon-thumbs-up"></span></button>
                    <button type="button" class="vote btn btn-warning btn-xs pull-right">Downvote <span class="glyphicon glyphicon-thumbs-down"></span></button>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <ul class="list-group">
                        <li class="list-group-item">I like this idea.</li>
                        <li class="list-group-item">I am  indifferent to this idea.</li>
                        <li class="list-group-item">No thank you, it works fine as it is. Simple is best.</li>
                        <li class="list-group-item">Great idea, while you're at it you could ...</li>
                        <li class="list-group-item">
                            <textarea class="full-width" rows="8"></textarea>
                            <small>140 characters left</small>
                            <label><input type="checkbox" /> I agree to the <a href="#">communtiy standards</a> regarding posts.</label>
                            <button class="btn btn-primary btn-sm pull-right">Add comment</button>
                            <button class="btn btn-default btn-sm pull-right">Cancel</button>
                            &nbsp;
                            <br class="clear-both" />
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="vote btn btn-primary pull-right">Create new feature request</button>

    <div class="row">
        <h4>New feature request</h4>
        <section class="col-md-8">
            <form novalidate class="form-horizontal" role="form" name="form">
                <div class="form-group">
                    <label for="Name" class="col-md-2 control-label">Name</label>
                    <div class="col-md-10">
                        <input type="text" id="Name" class="form-control" required placeholder="Feature name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Description" class="col-md-2 control-label">Description</label>
                    <div class="col-md-10">
                        <textarea id="Description" class="full-width" rows="4" required placeholder="Feature description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default pull-right">Cancel</button>
                    </div>
                    <div class="col-md-10">
                        <button type="button" class="btn btn-primary pull-right">Submit request</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>