<div>
    <h2>Roundtu.it Todo App feedback.</h2>
    <div class="row">
        <div class="col-md-8">
            <p>Hello, welcome to our feedback site for "Roundtu.it Todo App".</p>
            <p>Please help us shape the future direction and development of roundtu.it by providing your much appreciated feedback.</p>
            <p>If there's anythinng you'd like to see in the roundtu.it app please visit the <a href="#/feature-requests">feature requests</a> section.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-default pull-right" href="#/feature-requests">Feature requests &raquo;</a><br />
        </div>
    </div>
    <h3>Features</h3>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/design/img/business-1.jpg" alt="Feature image">
                <div class="caption">
                    <h3>Prioritised todo list</h3>
                    <p>Know what you should be working on and when to do it with our handy list screen.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Leave feedback <span class="badge">2</span></a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/design/img/business-2.jpg" alt="Feature image">
                <div class="caption">
                    <h3>Don't panic!</h3>
                    <p>With our handy messaging and alerting system you'll never miss a deadline. Message preferences can be configured in the app with SMS and email alerting.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Leave feedback <span class="badge">2</span></a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/design/img/business-3.jpg" alt="Feature image">
                <div class="caption">
                    <h3>Teamwork</h3>
                    <p>Join a team and share and manage each other todo lists. Manage priority conflicts with our scheduling and workload manager.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Leave feedback <span class="badge">2</span></a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/design/img/business-4.jpg" alt="Feature image">
                <div class="caption">
                    <h3>Conference</h3>
                    <p>Feature description - Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Leave feedback <span class="badge">2</span></a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/design/img/business-5.jpg" alt="Feature image">
                <div class="caption">
                    <h3>Super business mode</h3>
                    <p>Feature description - Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Leave feedback <span class="badge">2</span></a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/design/img/business-6.jpg" alt="Feature image">
                <div class="caption">
                    <h3>Another unmissable feature</h3>
                    <p>Feature description - Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Leave feedback <span class="badge">2</span></a></p>
                </div>
                <div>
                    <h5>Feedback</h5>
                    <ul class="list-group">
                        <li class="list-group-item">Great feature, but it would be better if ...</li>
                        <li class="list-group-item">This so frustrating, whenever I click on x I lose the navigation to y</li>
                        <li class="list-group-item">A real timesaver, thank you.</li>
                        <li class="list-group-item">This is too slow when I'm on my mobile device.</li>
                        <li class="list-group-item">Can you add a copy link here?</li>
                        <li class="list-group-item">This would benefit from an export as feature like in xyx.</li>
                        <li class="list-group-item">Hi great site. I have learn't a lot from it. Please to check out my site at http://cheap-rolex-wathces.5765-xyz.com</li>
                        <li class="list-group-item">Awesome feature, you guys rock.</li>
                        <li class="list-group-item">Can you add support for my obscure usecase? ...</li>
                        <li class="list-group-item">Works perfectly, please don't change it!</li>
                        <li class="list-group-item">
                            <textarea class="full-width" rows="8"></textarea>
                            <small>140 characters left</small>
                            <label><input type="checkbox" /> I agree to the <a href="#">communtiy standards</a> regarding posts.</label>
                            <button class="btn btn-primary btn-sm pull-right">Add feedback</button>
                            <button class="btn btn-default btn-sm pull-right">Cancel</button>
                            &nbsp;
                            <br class="clear-both" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>